@media screen and (max-width: $sm-width) {
    
    .header {
        padding: 64px 0 46px 0;

        h1 {
            font-size: 40px;
            letter-spacing: -1px;
            padding: 19px 0 6px 0;
        }

        br {
            display: none;
        }

        p {
            font-size: 17px;
            letter-spacing: -0.2px;
        }
    }
}