@media screen and (max-width: $sm-width) {

    .wrap {
        padding: 50px 23px 59px 24px;

        h2 {
            padding-bottom: 22px;
    
            &:before {
                left: 34px;
            }
        }
    
        .inner {
            padding: 24px 0 10px 0;
    
            .icons {
                width: 100%;
                padding-bottom: 18px;
            }

            .icon {
                width: 138px;
                height: 138px;

                i {
                    font-size: 55px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 92%;
                    height: 92%;
                }
            }
    
            h3 {
                padding-top: 27px;
            }
    
            p {
                padding: 16px 0;
            }
        }
    }
}