@media screen and (max-width: $md-width) {

    .menu {
        padding: 14px 0;
    
        ul li {
            font-size: 17px;
            padding: 10px 15px 10px 16px;
            margin: 0 10px;
        }
    }
}