@media screen and (max-width: $xl-width) {

    .footer {
        padding: 97px 94px 0 94px;
    
        h2 {
            font-size: 27px;
            padding-bottom: 23px;
        }
    
        p, dt, dd {
            font-size: 19px;
            line-height: 30px;
        }
    
        .lead {
    
            p {
                padding: 0 16px 51px 0;
            }
        }
    
        .contacts {
            padding: 0 0 0 19px;
    
            dd {
                padding-bottom: 16px;
                margin-left: 103px;
            }
        }
    
        .social {
            padding: 23px 0;
            
            i {
                font-size: 23px;
                width: 48px;
                height: 48px;
                margin-right: 17px;
            }
        }
    }
    
    .copyring {
        padding: 54px 0 74px 0;
    
        p {
            font-size: 15px;
            padding-right: 37px;
        }
    }
}