@media screen and (max-width: $xl-width) {

    .menu {
        padding: 17px 0;
    
        ul li {
            font-size: 19px;
            padding: 10px 29px;
            margin: 0 3px;
            border-radius: 10px;
        }
    }
}