@media screen and (max-width: $xs-width) {

    .content {
        padding: 47px 9px 48px 9px;

        h2 {
            padding: 31px 0 22px 0;
        }

        p {
            padding: 31px 0 33px 0;
            line-height: 26px;
        }
    }
}