@media screen and (max-width: $xs-width) {
    
    .header {
        padding: 64px 0 48px 0;

        h1 {
            padding: 21px 0 6px 0;
        }

        p {
            letter-spacing: -0.2px;
            line-height: 27px;
        }
    }
}